<div class="app-container">
    <div class="row content-container">
        <ol class="breadcrumb navbar-breadcrumb" style="padding-left: 100px;color: white;">
            <li>人工审核管理</li>
            <li class="active" style="color: white">图片审核 — 复审</li>
            <span style="float: right;margin-right: 30px">未审核数量：{$count}个</span>
        </ol>
        <div class="container-fluid">
            <div class="side-body" style="padding-top: 0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="formArea">
                                    <form class="form-inline" action='' method="get">
                                        <ul>
                                            <li>
                                                <label style="margin-left: 48px">域名：</label>
                                                <input type="text"  name="hitdomain" id="hitdomain" >
                                            </li>
                                            <li>
                                                <label>图片URL：</label>
                                                <input type="text" name="hiturl" id="hiturl">
                                            </li>
                                            <li>
                                                <label>IP：</label>
                                                <input type="text" name="hitip" id="hitip">
                                            </li>
                                            <li>
                                                <label>首次检出日期：</label>
                                                <input class="date-range-picker" type="text" name="time" id="time" data-date-format="YYYY-MM-DD"/>
                                            </li>
                                            <button type="submit" class="btn btn-info" style="margin-left: 10px">查询</button>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <volist name="res" id="info">
                                        <sapn data="{$info['id']}">
                                        <div style="width: 314px;float: left">
                                            <img src="{$info['file_path']}" title="{$info['domain']}{$info['url']}{$info['ip']}{$info['hit_time']}" style="height: 200px;width: 300px;margin-bottom: 10px;margin-top: 10px">
                                             {:authcheck('Home/Picture/do_pic_re_trial','
                                            <button class="btn btn-success btn-xs normal" style="margin-left: 80px"  >正常</button>
                                            <button class="btn btn-danger btn-xs illegal" style="margin-left: 15px" >违规</button>
                                            <button class="btn btn-info btn-xs notSure" style="margin-left: 15px">不确定</button>
                                             ','')}
                                             </sapn>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#hitip').val("<?=$hitip?>");
    $('#hiturl').val("<?=$hiturl?>");
    $('#hitdomain').val("<?=$hitdomain?>");
    $('#time').val("<?=$time?>");
    //    时间
    jQuery(function ($) {
        $('.date-range-picker').daterangepicker({
                locale: {
                    applyLabel: '提交',
                    cancelLabel: '取消',
                    fromLabel: '开始时间',
                    toLabel: '结束时间',
                    weekLabel: 'W',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    // firstDay: moment.localeData()._week.dow
                },
                language: 'cn',
                timePicker: true,
                timePickerIncrement: 1,
                timePicker12Hour: false,
                format: 'MM/DD/YYYY HH:mm'
            }
        ).prev().on(ace.click_event, function () {
            $(this).next().focus();
        });

    })
    $(".normal").click(function () {
        $(this).parent().remove();
        var data={};
//        $(this).parent().parent().attr({"disabled":"disabled"});
        data.status='3';
        data.id=$(this).parent().attr('data');
        $.ajax({
            type: "get",
            url: "__URL__/do_pic_re_trial",
            data: data,
            dataType:'json',
            success:function (data) {
                if(data.status == 'success'){
                    alert('审核成功');
//                    window.location.reload();
//                    htm.remove();
                }else{
                    alert(data.info);
                }
            }
        })

    });
    $(".illegal").click(function () {
        $(this).parent().remove();
        var data={};
        data.status='1';
        data.id=$(this).parent().attr('data');
        $.ajax({
            type: "get",
            url: "__URL__/do_pic_re_trial",
            data: data,
            dataType:'json',
            success:function (data) {
                if(data.status == 'success'){
                    alert('审核成功');
//                    window.location.reload();
//                    htm.remove();
                }else{
                    alert(data.info);
                }
            }
        })

    });
    $(".notSure").click(function () {
        $(this).parent().remove();
        var data={};
        data.status='2';
        data.id=$(this).parent().attr('data');
        $.ajax({
            type: "get",
            url: "__URL__/do_pic_re_trial",
            data: data,
            dataType:'json',
            success:function (data) {
                if(data.status == 'success'){
                    alert('审核成功');
//                    window.location.reload();
//                    htm.remove();
                }else{
                    alert(data.info);
                }
            }
        })

    })
</script>


