<div class="app-container">
    <div class="row content-container">
        <ol class="breadcrumb navbar-breadcrumb" style="padding-left: 100px;margin-top: -25px;color: white;">
            <li>策略管理</li>
            <li class="active" style="color: white">爬虫策略配置</li>
        </ol>
        <div class="container-fluid">
            <div class="side-body" style="padding-top: 0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-body" >
                                <form class="form-inline" style="margin-left: 16%;color: white">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">爬取频率：</label>
                                        <input type="number" value="{$data.spider_frequency}" class="form-control input-sm" placeholder="填写爬取频率" id="spider_frequency" style="width: 300px" required>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">任务获取规则文件路径：</label>
                                        <input type="text" value="{$data.config_path}" class="form-control input-sm" id="config_path" placeholder="填写任务获取规则文件路径" style="width: 300px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">定制域名任务获取频率：</label>
                                        <input type="number" value="{$data.redis_frequency}" class="form-control input-sm" id="redis_frequency" style="width: 300px"
                                               placeholder="填写定制域名任务的频率">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">上报zip包大小限制：</label>
                                        <input type="number" value="{$data.upload_zip_size}" class="form-control input-sm" id="upload_zip_size" placeholder="填写上报zip包大小限制" style="width: 300px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">上报zip包超时时间：</label>
                                        <input type="number" value="{$data.upload_zip_time}" class="form-control input-sm" id="upload_zip_time" placeholder="填写上报zip报超时时间" style="width: 300px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">上报zip包内样本文件数量限制：</label>
                                        <input type="number" value="{$data.upload_zip_file_num}" class="form-control input-sm" id="upload_zip_file_num" placeholder="填写上报zip包内样本文件数量限制" style="width: 300px">
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">爬虫服务器ip：</label>
                                        <input type="text" value="{$data.spider_ip}" class="form-control input-sm" id="spider_ip" placeholder="填写爬虫服务器ip" style="width: 300px" required>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">图片识别服务器ip：</label>
                                        <input type="text" value="{$data.pic_ip}" class="form-control input-sm" id="pic_ip" placeholder="填写图片识别服务器ip" style="width: 300px" required>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">图片识别服务器port：</label>
                                        <input type="text" value="{$data.pic_port}" class="form-control input-sm" id="pic_port" placeholder="填写图片识别服务器port" style="width: 300px" required>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">文本识别服务器ip：</label>
                                        <input type="text" value="{$data.txt_ip}" class="form-control input-sm" id="txt_ip" placeholder="填写文本识别服务器ip" style="width: 300px" required>
                                    </div>
                                    <br>
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label style="width: 282px;text-align: right">文本识别服务器port：</label>
                                        <input type="text" value="{$data.txt_port}" class="form-control input-sm" id="txt_port" placeholder="填写文本识别服务器port" style="width: 300px" required>
                                    </div>

                                </form>
                                <div class="text-center" style="margin-top: 10px">
                                    <button type="button" class="btn btn-info" id="python_btn">提交配置</button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal-lssued" style="margin-left: 10px">下发机房</button>
                                </div>
                                <!--  下发 模态框  -->
                                <div class="modal fade" id="myModal-lssued" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel-lssued" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel-lssued">下发机房</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-inline">
                                                    <div class="form-group" style="margin-left: 12px">
                                                        <label style="margin-left: 12px">下发机房：</label>
                                                        <select id="house_id" class="selectpicker bla bla bli" multiple data-live-search="true" style="height: 28px;width: 168px">
                                                            <option value="">请选择</option>
                                                            <volist name="rooms" id="room_info">
                                                                <option value="{$room_info['lab_id']}">{$room_info['lab_name']}</option>
                                                            </volist>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" id="lssued">确定</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#python_btn").click(function () {
        var data = {};
        data.id = "<?=$data['id']?>"
        data.spider_frequency=$("#spider_frequency").val();
        data.config_path=$("#config_path").val();
        data.redis_frequency=$("#redis_frequency").val();
        data.upload_zip_size = $("#upload_zip_size").val();
        data.upload_zip_time = $("#upload_zip_time").val();
        data.upload_zip_file_num=$("#upload_zip_file_num").val();
        data.spider_ip=$("#spider_ip").val();
        data.pic_ip= $("#pic_ip").val();
        data.pic_port= $("#pic_port").val();
        data.txt_ip=$("#txt_ip").val();
        data.txt_port=$("#txt_port").val();

       // console.log(data);
        $.ajax({
            type: "get",
            url: "__URL__/python_addoredit",
            data:data,
            dataType:'json',
            success:function (data) {
                if(data.status == 'success'){
                    alert('保存成功');
                    window.location.reload();
                }else{
                    alert(data.info);
                }
            }
        })
    })
    $(window).on('load', function () {
        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });
    });
    $('#lssued').click(function () {
//        var id = [];
        var type = '13';
        var id=$("#house_id").val();
        if(id ==null){
            alert("请选择下发机房")
        }else{
            $.ajax({
                type: 'get',
                url: '__URL__/policy_issued',
                data: {'house_id':id,'type':type},
                dataType: 'json',
                success:function (data) {
                    if(data.status == 'success'){
                        alert('下发成功');
                        window.location.reload();
                    }else{
                        alert(data.info);
                    }
                }
            });
            $("#myModal-add").modal('hide')
        }
    });
</script>
