<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <li>策略管理</li>
                        <li class="active">视频策略</li>
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown">
                        <a href="{:U('Index/index')}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">0</span>
                            </li>
                            <li class="message">
                                No new notification
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown danger">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                        <ul class="dropdown-menu danger  animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">4</span>
                            </li>
                            <li>
                                <ul class="list-group notifications">
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i>
                                            new registration
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge success">1</span> <i class="fa fa-check icon"></i> new
                                            orders
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge danger">2</span> <i class="fa fa-comments icon"></i>
                                            customers messages
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item message">
                                            view all
                                        </li>
                                    </a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Emily
                            Hart <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="profile-img">
                                <!--<img src="../../img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">-->
                            </li>
                            <li>
                                <div class="profile-info">
                                    <h4 class="username">Emily Hart</h4>
                                    <p>emily_hart@email.com</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile
                                        </button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i>
                                            Logout
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="side-body" style="padding-top: 0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">

                            </div>

                            <div class="card-body">
                                <!--<form class="form-inline" style="text-align: center">-->
                                    <!--<div class="form-group" style="margin-left: 10px">-->
                                        <!--<label for="exampleInput-a">中标视频帧阈值：</label>-->
                                        <!--<input type="number" value="5" class="form-control input-sm" id="exampleInput-a">-->
                                    <!--</div>-->
                                <!--</form>-->
                                <form class="form-inline text-center">
                                    <div class="form-group">
                                        <label for="text_level">中标图片等级：</label>
                                        <select name="" id="text_level" style="width: 168px">
                                            <!--<option value="">请选择</option>-->
                                            <option value="">淫秽色情</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;" id="text_radio_show">
                                        <div class="radio3 radio-check radio-inline">
                                            <input type="radio" id="radio4" name="radio2" value="option1" checked="">
                                            <label for="radio4">
                                                无分类
                                            </label>
                                        </div>
                                        <div class="radio3 radio-check radio-success radio-inline">
                                            <input type="radio" id="radio5" name="radio2" value="option2">
                                            <label for="radio5">
                                                淫秽色情
                                            </label>
                                        </div>
                                        <div class="radio3 radio-check radio-warning radio-inline">
                                            <input type="radio" id="radio6" name="radio2" value="option3">
                                            <label for="radio6">
                                                低俗
                                            </label>
                                        </div>
                                        <div class="radio3 radio-check radio-warning radio-inline">
                                            <input type="radio" id="radio7" name="radio2" value="option3">
                                            <label for="radio7">
                                                诱惑性
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center" style="margin-top: 10px">
                                    <!--<div class="btn-group">-->
                                        <!--<input type="button" class="btn btn-info" value="下发全部机房" id="btn-add">-->
                                        <!--<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                                            <!--<span class="caret"></span>-->
                                        <!--</button>-->
                                        <!--<ul class="dropdown-menu" role="menu" id="btn-ul">-->
                                            <!--<li><a href="#">全部机房</a></li>-->
                                            <!--<li><a href="#">前端子系统1</a></li>-->
                                            <!--<li><a href="#">前端子系统2</a></li>-->
                                            <!--<li><a href="#">前端子系统3</a></li>-->
                                            <!--<li><a href="#">前端子系统4</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->


                                    <button class="btn btn-info" type="button">下发</button>

                                    <button type="button" class="btn btn-info" style="margin-left: 10px" id="text_radio_a">恢复默认值</button>
                                </div>
                                <!-- 表格  -->
                                <table class="table table-bordered" style="margin-top: 20px">
                                    <thead>
                                    <tr>
                                        <th>中标图片等级</th>
                                        <th>下发成功机房个数</th>
                                        <th>下发失败机房个数</th>
                                        <th>下发时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="color: blue;cursor: pointer" data-toggle="modal" data-target="#myModal-cg">3</td>
                                        <td style="color: blue;cursor: pointer" data-toggle="modal" data-target="#myModal-sb">2</td>

                                        <td>2017/12/30 10:42:40</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>4</td>
                                        <td>2</td>
                                        <td>2017/12/30 10:42:40</td>
                                        <td><a href="#"
                                               style="background-color:#1ABC9C;color: white;padding: 4px;">重新下发</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- 下发成功 模态框（Modal） -->
                                <div class="modal fade" id="myModal-cg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">下发成功机房个数</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>机房名称</th>
                                                        <th>设备名称</th>
                                                        <th>状态</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>机房1</td>
                                                        <td>设备1</td>
                                                        <td>成功</td>
                                                    </tr>
                                                    <tr>
                                                        <td>机房2</td>
                                                        <td>设备2</td>
                                                        <td>成功</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                                <!-- 下发失败 模态框（Modal） -->
                                <div class="modal fade" id="myModal-sb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-sb" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel-sb">下发失败机房个数</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>机房名称</th>
                                                        <th>设备名称</th>
                                                        <th>状态</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>机房1</td>
                                                        <td>设备1</td>
                                                        <td>失败</td>
                                                    </tr>
                                                    <tr>
                                                        <td>机房2</td>
                                                        <td>设备2</td>
                                                        <td>失败</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //    $(function () {
    //        $("#btn-ul").click(function () {
    //            alert("a")
    //            var val = $(this).text();
    //            $("#btn-add").text(val);
    //        });
    //    });

//    $("#btn-ul").on("click","li",function(){
//        var a =$(this).text();
////        alert(a);
//        $("#btn-add").val("下发"+a)
//    });
    $("#text_radio_a").click(function () {
//        alert('a')
//        $(".radio3").val('option1')
        $('input:radio[name="radio2"][value="option1"]').prop('checked', true);
    })
</script>